<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Sound Shop !!!</h1>
    <p>select options from of our wide varaiety</p>
  </div>
  <div class="box">
      <div class="container">
       	<div class="row">
  			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

  					<div class="box-part text-center">

                        <i class="fas fa-headphones"></i>

  						<div class="title">
  							<h4>Headphones</h4>
  						</div>

  						<div class="text">
  							<span>Shop for headphones to listen to favourite tarcks privately.Browse your selection of wireless and bluetooth headphones from top brands</span>
  						</div>
              <a href="/products?type=headphones&bestseller=true">Learn More</a>
  					 </div>
  				</div>

  				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

  					<div class="box-part text-center">

  					    <i class="fab fa-speaker-deck"></i>

  						<div class="title">
  							<h4>Speakers</h4>
  						</div>

  						<div class="text">
  							<span>Create the ultimate experience of music for clarirty and rich sound with high-quality speakers.</span>
  						</div>
                 <a href="/products?type=speakers">Speakers</a>
  						<a href="#">Learn More</a>

  					 </div>
  				</div>

  				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

  					<div class="box-part text-center">

                 <i class="fas fa-headset"></i>

  						<div class="title">
  							<h4>Overtheear</h4>
  						</div>

  						<div class="text">
  							<span>Overtheear stereo headphones with wireless bluetooth technology,advanced DSP,and built-in microphones for IOS and Andriod devices.</span>
  						</div>

  					<a href="/products?subType=overtheear">Over the Ear</a>

  					 </div>
  				</div>

  				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

  					<div class="box-part text-center">

                            <i class="fas fa-headphones"></i>

  						<div class="title">
  							<h4>Regular</h4>
  						</div>

  						<div class="text">
  							<span>Headphones with iconic looks and signature high quality sound.</span>
  						</div>

  						  <a href="/products?subType=regular">Regular</a>

  					 </div>
  				</div>

  				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

  					<div class="box-part text-center">

  					     <i class="fas fa-headphones"></i>

  						<div class="title">
  							<h4>Earbuds</h4>
  						</div>

  						<div class="text">
  							<span>In-Ear noise cancelling truly wireless headphones to enhance your listening experience.</span>
  						</div>

  					<a href="/products?subType=earbuds">Earbuds</a>

  					 </div>
  				</div>

  				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

  					<div class="box-part text-center">

                          <i class="fas fa-headphones"></i>

  						<div class="title">
  							<h4>Smart</h4>
  						</div>

  						<div class="text">
  							<span>Unlock the power of voice control with your own personal didgital assistant with models based on Alexa,Google Assistant,Siri,Amazon Echo families.</span>
  						</div>

  					 <a href="/products?subType=smart">Smart</a>

  					 </div>
  				</div>

  		</div>
      </div>
  </div>
</div>
