<form method="POST" action="/">
    <label for="yourName">Your name</label><br>
    <input type="text" name="yourName" placeholder="YourName"> <br>

    <label for="email">Email</label><br>
    <input type="text" name="email" placeholder="Enter Email"> <br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" minlength="6" required><br>

    <label for="psw-again"><b>Password Again</b></label><br>
    <input type="password" placeholder="Password Again" name="psw-again" required><br>

    <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label><br>

    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
    </div>
    </div>
</form>