<form method="POST" action="/">
    <label for="email">Email</label><br>
    <input type="text" name="email" placeholder="Enter Email"> <br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" required><br>

    <button type="submit">Login</button><br><br>
    <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
    </label><br><br>
    <button type="button" onclick="document.getElementById('id01').style.display='none'"
        class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">Password?</a></span><br><br><br><br><br><br><br><br><br><br><br><br>
</form>