<h1>Sending Message</h1>

{{#if valid}}

<form method="POST" action="/contact-us">

    <label><b>FirstName</b></label><br />
    <input type="text" name="firstName" placeholder="First Name" {{#if errorID.firstName}} class="error_redFrame"
        {{/if}}> <br><br>

    <label><b>LastName</b></label><br />
    <input type="text" name="lastName" placeholder="Last Name" {{#if errorID.lastName}} class="error_redFrame" {{/if}}>
    <br><br>

    <label><b>Email</b></label><br />
    <input type="text" name="email" placeholder="Email" {{#if errorID.email}} class="error_redFrame" {{/if}}> <br><br>

    <label><b>Phone No</b></label><br />
    <input type="text" name="phoneNo" placeholder="Phone No" {{#if errorID.phoneNo}} class="error_redFrame" {{/if}}>
    <br><br>

    <label><b>Message</b></label><br />
    <textarea name="message" placeholder="Write Something..." {{#if errorID.message}} class="error_redFrame"
        {{/if}}></textarea> <br><br>

    <input type="submit" value="Send Message" id="subBut" />

    {{else}}
    <div class=center>
        <h2>Thank you for contacting us</h2><br>
    </div>
    {{/if}}

</form>
