<div class="form_container">
    {{!-- <span /> --}}


    {{#if valid}}

    <form class="form" action="/sign-up" method="POST">
        <label for="yourName">Your name</label><br />
        <input type="text" {{#if errorID.yourName}} class="error_redFrame" {{/if}} id="yourName" name="yourName"
            autocomplete="yourName" placeholder="Mary" value="{{data.yourName}}" />
        <div class="warningMessage">{{error.yourName}}</div>

        <label for="email">Email</label><br />
        <input type="text" name="email"  {{#if errorID.email}} class="error_redFrame" {{/if}} placeholder="Enter Email" /> <br />



        <label for="password"><b>Password</b></label><br />
        <input type="password" {{#if errorID.password}} class="error_redFrame" {{/if}} placeholder="Enter Password" name="password" minlength="6" required /><br />

        <label for="passwordagain"><b>Password Again</b></label><br />
        <input type="password" {{#if errorID.passwordagain}} class="error_redFrame" {{/if}} placeholder="Password Again" name="passwordagain" required /><br />

        <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px" /> Remember me
        </label><br />

        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
        {{else}}
        <h2>You are signed up successfully </h2>
         {{/if}}
</form>
</div>
