<div class="form_container">
    {{!-- <span /> --}}


    <form class="form" id="add" action="/products/add" method="POST">

        <label for="name"><b>Name</b></label><br />
        <input type="text" {{#if errorID.name}} class="error_redFrame" {{/if}} id="name" name="name" autocomplete="name"
            value="{{data.name}}" />
        <div class="warningMessage">{{error.name}}</div>

        <label for="description"><b>Description</b></label><br />
        <input type="text" name="description" {{#if errorID.description}} class="error_redFrame" {{/if}} /> <br />

        <label for="price"><b>Price</b></label><br />
        <input type="number" name="price" {{#if errorID.price}} class="error_redFrame" {{/if}} /> <br />
        <div class="warningMessage">{{error.price}}</div>

        <label for="type"><b>Type</b></label><br />
        <input type="text" name="type" {{#if errorID.type}} class="error_redFrame" {{/if}} /> <br />

        <label for="subType"><b>SubType</b></label><br />
        <select class="form-control" form="add" name="subType" id="subType">
          <option ></option>
             <option value="overtheear">Overtheear</option>
            <option value="regular">Regular</option>
            <option value="earbuds">Earbuds</option>
            <option value="smart">Smart</option>
        </select>

        <label for="brand" ><b>Brand</b></label><br />
        <select class="form-control" form="add" name="brand" id="brand">
            <option ></option>
            <option value="bose">Bose</option>
            <option value="edifier">Edifier</option>
            <option value="generic">Generic</option>
            <option value="google">Google</option>
            <option value="marshal">Marshal</option>
            <option value="monster">Monster</option>
            <option value="sennheiser">Sennheiser</option>
            <option value="sonos">Sonos</option>
            <option value="sony">Sony</option>
            <option value="acy">ACY</option>
            <option value="apple">Apple</option>
            <option value="amazon">Amazon</option>
            <option value="beats">Beats</option>
        </select>


        <div> <input type="checkbox" id="isBestSeller" name="isBestSeller" checked>
            <label for="isBestSeller">Best Seller</label></div>

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="addbtn">Add Item</button>
        </div>

    </form>
</div>