<div class="form_container">



  <form class="form" action="/product/ClerkSearch" method="POST">

    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
      <li><a href="#">Type</a></li>
      <li><a href="#">Brand</a></li>
     

    </ul>
</div>

</form>